@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Heebo:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 0px) {
  .dark {
    background: #130d34;
    background: -o-linear-gradient(300deg, #130d34 80%, #9d328c 90%);
    background: linear-gradient(150deg, #130d34 80%, #9d328c 90%);
  }
}

@media screen and (min-width: 1025px) {
  .dark {
    background: #130d34;
    background: -o-linear-gradient(290deg, #130d34 83%, #9d328c 93%);
    background: linear-gradient(160deg, #130d34 83%, #9d328c 93%);
  }
}

@media screen and (min-width: 0px) {
  #passwordChange {
    width: 100%;
    height: 100vh;
    background: #130d34;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #passwordChange h3 {
    color: white;
    margin-bottom: 30px;
  }
  #passwordChange form {
    width: 100%;
    height: auto;
  }
  #passwordChange form .form_element {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 0 25px;
    margin-bottom: 20px;
    position: relative;
  }
  #passwordChange form .form_element label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
  }
  #passwordChange form .form_element input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    padding: 0 20px;
  }
  #passwordChange form .form_element input:focus {
    outline: none;
  }
  #passwordChange form .form_controls {
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #passwordChange form .form_controls input,
  #passwordChange form .form_controls button {
    width: 30%;
    height: 90%;
    background-color: #06ec46;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  #passwordChange form .form_controls input:hover,
  #passwordChange form .form_controls button:hover {
    outline: none;
  }
  #passwordChange form .form_controls input {
    margin-right: 10px;
  }
  #passwordChange form .form_controls button {
    background-color: red;
    color: white;
  }
  #passwordChange form .err {
    color: #b62ce3;
    margin-left: 25px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .dark {
    height: 100vh;
    width: 100%;
  }
  #passwordChange {
    background-color: transparent;
    width: 60%;
    position: relative;
    max-width: 630px;
    margin: 0 auto;
  }
}
