@import "./includes/default";
@media screen and (min-width: 0px) {
	#passwordChange {
		width: 100%;
		height: 100vh;
		background: #130d34;
		position: fixed;
		top: 0;
		left: 0;
		@include display(flex, center, center);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		h3 {
			color: white;
			margin-bottom: 30px;
		}
		form {
			width: 100%;
			height: auto;
			.form_element {
				width: 100%;
				height: auto;
				border-radius: 5px;
				padding: 0 25px;
				margin-bottom: 20px;
				position: relative;
				label {
					display: block;
					margin-bottom: 10px;
					color: white;
					font-weight: bold;
				}
				input {
					width: 100%;
					height: 40px;
					border-radius: 5px;
					border: none;
					background-color: white;
					font-size: 16px;
					padding: 0 20px;

					&:focus {
						outline: none;
					}
				}
			}
			.form_controls {
				width: 100%;
				height: 40px;
				@include display(flex, center, center);
				input,
				button {
					width: 30%;
					height: 90%;
					background-color: #06ec46;
					border: none;
					border-radius: 5px;
					font-weight: bold;
					font-size: 16px;
					&:hover {
						outline: none;
					}
				}
				input {
					margin-right: 10px;
				}
				button {
					background-color: red;
					color: white;
				}
			}
			.err {
				color: #b62ce3;
				margin-left: 25px;
				font-weight: bold;
				margin-top: -15px;
				margin-bottom: 15px;
				font-size: 14px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.dark {
		height: 100vh;
		width: 100%;
	}
	#passwordChange {
		background-color: transparent;
		width: 60%;
		position: relative;
		max-width: 630px;
		margin: 0 auto;
	}
}
